<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\Admin.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <!-- <h1>Archive</h1> -->

    <div class="PositionColor" style = "margin-top: 25px;">

        <div id = "location_nav">
            <nav >
                <% let data = `/MovieAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data%>'">
                Movies
                </a>
                
                <% let data1 = `/ScenarioAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data1%>'">
                    Scenarios
                </a>
                
                <% let data2 = `/WorkersAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data2%>'" >
                    Workers
                </a>

                <% let data3 = `/RequestsAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data3%>'">
                    Requests
                </a>

                <% let data4 = `/ArchiveAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data4%>'" style = "color: black;">
                    Archive
                </a>
    
            </nav>             
        </div>
    
        <% if (table[0][0] == undefined) { %>
            <h1 style = "
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -100%);
           ">No films in arhive</h1>

            <% let data_ = `/MovieAdd?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

            <button style = " position: fixed; left: 50%; top: 50%; transform: translate(-50%, 250%);
                              width: 211px; height: 52px; background: rgba(0, 0, 0, 0.55); border-radius: 13px; "
                             >  
                <a  style = "color:white" href="<%=data_%>">Add Movie to Archive</a>
            </button>

       <%} else { %>
        <% table.forEach(columns => { %>
        
            <table>
                <thead>
                    <tr>
                        <% Object.getOwnPropertyNames(columns[0]).forEach ( (headName) => { %>
                            <th> <%= headName %>  </th>
                            
                         <% }) %>
                        
                    </tr>
                   
                </thead>
                <tbody>
                    <% columns.forEach(function(column, index){ %>
                        <% column = Object.values(column) %>
                        <tr>
                            <% column.forEach((element, index) => { %>
                                <td> <%= element %> </td>
                           <% }); %>
                          
                        </tr> 
                    <% }); %>
                    
                        
                  

                </tbody>
            </table>    

       <% }); %>
       <% } %>
        

        </div>
    
            
        
       

     
    </div>

</body>
</html>