<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\Admin.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <!-- <h1>MOVIEs</h1> -->

    <div class="PositionColor" style = "margin-top: 25px;">

        <div id = "location_nav">
            <nav >
                <% let data = `/MovieAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data%>'" style = "color: black;">
                Movies
                </a>
                
                <% let data1 = `/ScenarioAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data1%>'">
                    Scenarios
                </a>
                
                <% let data2 = `/WorkersAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data2%>'" >
                    Workers
                </a>

                <% let data3 = `/RequestsAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data3%>'">
                    Requests
                </a>

                <% let data4 = `/ArchiveAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data4%>'">
                    Archive
                </a>
    
            </nav>             
        </div>
    

            <% table.forEach(columns => { %>
            
                <table>
                    <thead>
                        <tr>
                            <td>Title</td>
                            <td>Length</td>
                            <td>genre</td>
                            <td>date</td>
                            
                        </tr>
                       
                    </thead>
                    <tbody>
                        <% columns.forEach(function(column, index){ %>

                            <% column = Object.values(column) %>
                            <% let transmission = `/MovieAbout?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${column[0]}`%> 

                            <tr>
                                <td><%=column[1] %></td>
                                <td><%=column[2] %></td>
                                <td><%=column[3] %></td>
                                <td><%=column[4] %></td>
                                <td><button><a href="<%= transmission %>">about</a></button></td>
                            </tr> 


                        <% }); %>
                        
                            
                      

                    </tbody>
                </table>    

           <% }); %>

           <% let data_ = `/MovieAdd?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <% console.log(data_) %>
                <button style = " position: fixed; left: 50%; top: 50%; transform: translate(125%, 550%);
                width: 211px; height: 52px; background: rgba(0, 0, 0, 0.55); border-radius: 13px; " id = "btnAddMovie">  
                    <a style = "color:white"href="<%= data_ %>">Add Movie</a>
                </button>
                
           

        </div>
    
            
        
       

     
    </div>

</body>
</html>