<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\Admin.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <!-- <h1>WorkerS</h1> -->
    <% let data_ = `/MovieAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

  

    <div class="PositionColor" style = "margin-top: 25px;">
        
        
    

        <div id = "location_nav">
            <nav >
                <% let data = `/MovieAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data%>'">
                Movies
                </a>
                
                <% let data1 = `/ScenarioAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data1%>'">
                    Scenarios
                </a>
                
                <% let data2 = `/WorkersAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data2%>'">
                    Workers
                </a>

                <% let data3 = `/RequestsAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data3%>'">
                    Requests
                </a>

                <% let data4 = `/ArchiveAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data4%>'">
                    Archive
                </a>
    
            </nav>     
            <a id = "arrow"  href="<%= data_ %>">
                <img src=".\regPage\arrow.png">
            </a>
                  
        </div>
    

            <% table.forEach(columns => { %>
            
                <table>
                    <thead>
                        <tr>
                            <% Object.getOwnPropertyNames(columns[0]).forEach ( (headName) => { %>
                                <th> <%= headName %>  </th>
                                
                             <% }) %>
                            
                        </tr>
                       
                    </thead>
                    <tbody>
                        <% columns.forEach(function(column, index){ %>
                            <% column = Object.values(column) %>
                            <tr>
                                <% column.forEach((element, index) => { %>
                                    <td> <%= element %> </td>
                               <% }); %>
                              
                            </tr> 
                        <% }); %>
                        
                            
                      

                    </tbody>
                </table>    

           <% }); %>


            
        </div>
    
            
        
       

     
    </div>

</body>
</html>