<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\MovieAdmin\MovieAbout.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

   
    <% let data_ = `/MovieAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

  

    <div class="PositionColor" style = "margin-top: 25px;">
        
        <a id = "arrow"  href="<%= data_ %>">
            <img src=".\regPage\arrow.png">
        </a>
        <a id = "nearArrow">about</a>

        <% let id = table[0][0].idMovie; let edit = `/DirectorMovieAbout?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}` %> 
        <a id = "look" onclick="window.location.href = '<%= edit %>'"> Edit </a>


            <div class = "about">
             
                    
                    
                    <div id = "information">
                        <form method="post">
                            <% console.log[table] %> 
                            <input type="hidden" name="login" value="<%= session[0] %>">
                            <input type="hidden" name="password" value="<%= session[1]%>">
                            <input type="hidden" name="state" value="<%= session[2] %>">
                            <input type="hidden" name="roleId" value="<%= session[3] %>">
                            <input type="hidden" name="idMovie" value="<%= id %>">
                            <input type="hidden" name="status" value="1">

                            <div class = 'name'>
                                <div style="text-align: left;">
                                    title
                                </div>
                                <div style="text-align: right;">
                                    <input name="title" value="<%= table[0][0].title %>" type="text" > 
                                </div>
                            </div>


                            <div class = 'name'>
                                <div style="text-align: left;">
                                    length
                                </div>
                                <div style="text-align: right;">
                                    <input type="number" name = "length" value = "<%= table[0][0].length  %>">
                                </div>
                            </div>

                            <div class = 'name'>
                                <div style="text-align: left;">
                                    Genre
                                </div>
                                <div style="text-align: right;">
                                    <input type="text" name="genre" id="" value='<%= table[0][0].genre  %>'> 
                                </div>
                            </div>
                            

                            <div class = 'name'>
                                <div style="text-align: left;">
                                    date
                                </div>
                                <div style="text-align: right;">
                                    <% let data = table[0][0].release.split('.');  %> 
                                    <input type="date" name="date" id="" value = "<%=`${data[2]}-${data[1]}-${data[0]}`%>">
                                </div>
                            </div>
                            

                             

                            
                            
                                <% if(table[1][0] != undefined) { %>
                                        
                                        <% let idScenario = table[1][0].IdScenario; %>
                                        <% console.log(idScenario) %>
                                        <% let deleteScenario = `/DeleteScenarioFromMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}&idScenario=${idScenario}` %> 
                                        <% let read = `/DirectorScenarioRead?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}&idScenario=${idScenario}` %> 

                                        <div class = 'name'>
                                            <div style="text-align: left;">
                                                scenario
                                            </div>
                                            <div style="text-align: right;">
                                                <a style = "position: relative; top: -5px;" onclick  = "window.location.href='<%= read %>'">read</a>
                                            </div>
                                        </div>
                                        
                        
                                <% } else { %>

                                    <% let AddScenario = `/DirectorScenarioToMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}`%> 


                                    <div class = 'name'>
                                        <div style="text-align: left;">
                                            scenario
                                        </div>
                                        <div style="text-align: right;">
                                            <button  style = "position: relative; top: -5px;" onclick = "window.location.href='<%=AddScenario%>'">add</button>
                                        </div>
                                    </div>

                                <% } %> 

                                <button style="position: relative; left: 220px; top: 45px;" type = "submit">submit</button>
                        </form>
                   
                   
                   

            

                   

            </div>    

 

            
        </div>
    
            
        
       

     
    </div>

</body>
</html>