<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\MovieAdmin\MovieWorker.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <% console.log(table) %> 


    <div class="PositionColor" style = "margin-top: 25px;">
        <% let data_ = `/DirectorMovieAbout?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${idMovie}`  %>

        <a id = "arrow"  href="<%= data_ %>">
            <img src=".\regPage\arrow.png">
        </a>
        <a id = "nearArrow">about movie</a>

    

            <% table.forEach(columns => { %>
               
                <table class="Position">
                    <thead>
                        <tr id = >
                            <% let transition = `/ArchiveAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&sort='Title'&idSort=${session[4]}`  %> 
                            <td id = "Name">Name</td>
                            <td >Surname</td>
                            <td>Movie</td>

                           
                            
                            <% let data_ = `/WorkerToMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${idMovie}`  %>

                            <td style="position:absolute; left: 760px;" onclick = "window.location.href='<%= data_ %>'">add</td>
                            
                        </tr>
                       
                    </thead>
                    <div id = #tablescroll>
                    <tbody id = "margin_test">

                            <% columns.forEach(function(column, index){ %>

                                <% column = Object.values(column) %>
                                <% let transmission = `/DirectorWorkersProfile?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idWorker=${column[0]}`%> 
                            
                                <tr>
                                    <td ><%=column[1] %></td>
                                    <td style = "text-align: center ;" ><%=column[2] %></td>
                                    <td ><%=column[3] %></td>
                                    <td ><button><a onclick = "window.location.href='<%= transmission %>'">about</a></button></td>
                                    <% let delete_ = `/DeleteWorkerFromMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${idMovie}&idWorker=${column[0]}` %>
                                    <td><button><a onclick = "window.location.href='<%=delete_ %>'" >delete</a></button></td>
                                    
                                </tr> 
    
    
                            <% }); %>
                        
                       
                        
                            
                      

                    </tbody>
                </div>
                </table>    

           <% }); %>
           

           

        </div>
    
            
        
       

     
    </div>

</body>
</html>