<!DOCTYPE html>
<html>


<head>

    <link href="/DirectorViews/Profile/Profile.css" rel="stylesheet" type="text/css">
    <!-- C:\Users\saidm\Desktop\test\pages\Profile\Profile.ejs -->

</head>

<body id = "backForPage">

    <!-- <h1>MOVIEs</h1> -->

    <div class="PositionColor" style = "margin-top: 25px;">

        <div id = "location_nav">
            <nav >
                <% console.log(session, 'Проверка сессии') %> 
                <% let data = `/MovieActor?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data%>'" >
                Movies
                </a>
                
                
                <% let data3 = `/RequestsActor?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data3%>'">
                    Requests
                </a>

                
                <% let data2 = `/WorkersActor?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data2%>'" >
                    Workers
                </a>

    
                
                <% let data5 = `/ActorProfile?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data5%>'" style = "color: black;">
                    Profile
                </a>

            </nav>             
        </div >


        <div style ="position: relative; left: 250px; top: 250px;">
            <%console.log(table)%>


            <div class = 'name'>
                <div style="text-align: left;">
                     name
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].name %>
                </div>

                <div style="text-align: right; width: 100px;">
                    <% let edit = `/ActorProfileEdit?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`%> 

                    <a style = "font-size: 24px;" onclick="window.location.href = '<%=edit%>' ">edit</a>        
                </div>
                
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    surname
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].surname %>
                </div>
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    patronymic
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].patronymic %>
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    birthdate
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].birthdate %>
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    phone
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].phone %>
                </div>
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    email
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].email %>
                </div>
            </div>
            
            <div class = 'name'>
                <div style="text-align: left;">
                    login
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].login %>
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    role
                </div>
                <div style="text-align: right;">
                    <% if (table[0][0].roleId == 1){ %>
                        admin
                   <%  } else if(table[0][0].roleId == 2) { %>
                        director
                   <% } else { %>
                        actor
                    <% } %> 
                </div>
            </div>
         

        
           
        </div>
           

        </div>
    
            
        
       

     
    </div>

</body>
</html>