<!DOCTYPE html>
<html>


<head>

    <link href="/DirectorViews/Profile/Profile.css" rel="stylesheet" type="text/css">
    <!-- C:\Users\saidm\Desktop\test\pages\Profile\Profile.ejs -->

</head>

<body id = "backForPage">

    <!-- <h1>MOVIEs</h1> -->

    <div class="PositionColor" style = "margin-top: 25px;">





        <% let data_ = `/DirectorProfile?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

            
            <a id = "arrow"  href="<%= data_ %>">
                <img src=".\regPage\arrow.png">
            </a>
            <a id = "nearArrow">profile</a>








        <div style ="position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); width: 800px;">
           
        <form method="post">
            <input type="hidden" name="idWorker" value="<%= table[0][0].idWorker %>">
            <input type="hidden" name="login" value="<%= session[0] %>">
            <input type="hidden" name="password" value="<%= session[1]%>">
            <input type="hidden" name="state" value="<%= session[2] %>">
            <input type="hidden" name="roleId" value="<%= session[3] %>">

            
            <div class = 'name'>
                <div style="text-align: left;">
                     name
                </div>
                <div style="text-align: right;">
                    <input  type="text" name="name" value="<%= table[0][0].name %>">  
                </div>
                
                
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    surname
                </div>
                <div style="text-align: right;">
                    <input  type="text" name="surname" value="<%= table[0][0].surname %>">
                </div>
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    patronymic
                </div>
                <div style="text-align: right;">
                    <input  type="text" name="patronymic" value="<%= table[0][0].patronymic %>"> 
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    birthdate
                </div>
                <div style="text-align: right;">
                    <% let data = table[0][0].birthdate.split('.');  %> 
                    <input type="date" style = "width: 180px; "name="birthdate" value = "<%=`${data[2]}-${data[1]}-${data[0]}`%>">
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    phone
                </div>
                <div style="text-align: right;">
                    <input type="phone" name="phone" value="<%= table[0][0].phone %>">
                </div>
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    email
                </div>
                <div style="text-align: right;">
                    <input type="email" name="email" value="<%= table[0][0].email %>">
                </div>
            </div>
            
            <div class = 'name'>
                <div style="text-align: left;">
                    login
                </div>
                <div style="text-align: right;">
                    <input disabled style="color: black;" type="text" name="login" value="<%= table[0][0].login %>">
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    role
                </div>
                <div style="text-align: right; font-size: 18px; color:black;">
                    <% if (table[0][0].roleId == 1){ %>
                        admin
                   <%  } else if(table[0][0].roleId == 2) { %>
                        director
                   <% } else { %>
                        actor
                    <% } %> 
                </div>
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    change password
                </div>
            
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    <% let edit = `/DirectorProfileEdit?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`%> 

                    <button type="submit" style = "color:black" onclick="window.location.href = '<%=edit%>' ">submit</button>
                </div>
            
            </div>
           
            
        </form>
           
        </div>
           

        </div>
    
            
        
       

     
    </div>

</body>
</html>