<!DOCTYPE html>
<html>


<head>

    <link href=".\DirectorViews\Requests\Request.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <!-- <h1>RequestS</h1> -->

    <div class="PositionColor" style = "margin-top: 25px;">

        <div id = "location_nav">
            <nav >
                <% console.log(session, 'Проверка сессии') %> 
                <% let data = `/MovieDirector?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data%>'" >
                Movies
                </a>
                
                
                <% let data3 = `/RequestsDirector?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data3%>'" style = "color: black;">
                    Requests
                </a>

                
                <% let data2 = `/WorkersDirector?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data2%>'" >
                    Workers
                </a>

    
                
                <% let data5 = `/DirectorProfile?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>
                <a onclick = "window.location.href='<%=data5%>'" >
                    Profile
                </a>

            </nav>             
        </div >
    
            <% if (table[0][0] == undefined) { %>
                <h1>Запросов пока нет</h1>
           <%} else { %>
            <% table.forEach(columns => { %>

              
                <table>
                    <thead>
                        <tr >
                            
                                <td id="actor">Actor</td>
                                <td id="movie">Movie</td>
                                <td id= "date">Date</td>
                                <td id = "status">Status</td>
                            
                            
                        </tr>
                       
                    </thead>
                    <tbody>
                        <% columns.forEach(function(column, index){ %>
                            <% column = Object.values(column) %>
                            <tr id = "font">

                                    <td id="actor_"> <%=column[4]%> </td>
                                    <td id="movie_"> <%=column[3]%> </td>
                                    <td id ="date_"> <%=column[5]%> </td>
                                    <td id = "status_"> <%=column[6]%> </td>
                                    
                                    <% if(column[6] == null) { %>
                                        <% let accept = `/DirectorAcceptRequest?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idRequest=${column[2]}&idMovie=${column[0]}&idWorker=${column[1]}` %> 
                                        <% let decline = `/DirectorDeclineRequest?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idRequest=${column[2]}` %> 
                                                                                                                                                                
                                        <td><button id ="accept" style="width: 50px;" onclick="window.location.href='<%=accept%>'">+</button>
                                        <button id ="accept"  style="width: 50px;"onclick="window.location.href='<%=decline%>'">-</button></td>

                                   <% } else if (column[6] == false) { %>
                                    <% let accept = `/DirectorAcceptRequest?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idRequest=${column[2]}&idMovie=${column[0]}&idWorker=${column[1]}` %> 
                                                                                                                                                                
                                    <td><button id ="accept" onclick="window.location.href='<%=accept%>'">accept</button></td>
                                    
                                <%}%> 

                            </tr> 
                        <% }); %>
                        
                            

                    </tbody>
                </table>    

           <% }); %>
           <% } %>
            

           <% let data_ = `/MovieAdd?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

        


        </div>
    
            
        
       

     
    </div>

</body>
</html>