<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\WorkersAdmin\WorkersProfile.css" rel="stylesheet" type="text/css">
    <!-- C:\Users\saidm\Desktop\test\pages\Profile\Profile.ejs -->

</head>

<body id = "backForPage">

    <!-- <h1>MOVIEs</h1> -->

    <div class="PositionColor" style = "margin-top: 25px;">

        <% let data_ = `/WorkersAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

            
        <a id = "arrow"  href="<%= data_ %>">
            <img src=".\regPage\arrow.png">
        </a>
        <a id = "nearArrow">workers</a>

       


        <div style ="position: relative; left: 250px; top: 250px;">
            <%console.log(table)%>


            <div class = 'name'>
                <div style="text-align: left;">
                     name
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].name %>
                </div>

                <div style="text-align: right; width: 100px;">
                    <% let id = table[0][0].idWorker;let edit = `/WorkersEdit?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idWorker=${id}`%> 

                    <a style = "font-size: 24px;" onclick="window.location.href = '<%=edit%>' ">edit</a>            
                </div>
                
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    surname
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].surname %>
                </div>
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    patronymic
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].patronymic %>
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    birthdate
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].birthdate %>
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    phone
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].phone %>
                </div>
            </div>

            <div class = 'name'>
                <div style="text-align: left;">
                    email
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].email %>
                </div>
            </div>
            
            <div class = 'name'>
                <div style="text-align: left;">
                    login
                </div>
                <div style="text-align: right;">
                    <%= table[0][0].login %>
                </div>
            </div>


            <div class = 'name'>
                <div style="text-align: left;">
                    role
                </div>
                <div style="text-align: right;">
                    <% if (table[0][0].roleId == 1){ %>
                        admin
                   <%  } else if(table[0][0].roleId == 2) { %>
                        director
                        <% let watchMovie = `/WorkersMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idWorker=${id}` %> 
                        <button onclick="window.location.href = '<%=watchMovie%>' ">Movies</button>

                   <% } else { %>
                        actor
                        <% let watchMovie = `/WorkersMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idWorker=${id}` %> 

                        <button onclick="window.location.href = '<%=watchMovie%>' ">Movies</button>

                    <% } %> 
                </div>

            </div>
         

        
           
    

           
           
        </div>
           

    
            
        
       

     
    </div>

</body>
</html>