<!DOCTYPE html>
<html>


<head>

    <link href="/Profile/Profile.css" rel="stylesheet" type="text/css">
    <!-- C:\Users\saidm\Desktop\test\pages\Profile\Profile.ejs -->

</head>

<body id = "backForPage">

    <!-- <h1>MOVIEs</h1> -->

    <div class="PositionColor" style = "margin-top: 25px;">





        <% let data_ = `/Profile?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

            
            <a id = "arrow"  href="<%= data_ %>">
                <img src=".\regPage\arrow.png">
            </a>
            <a id = "nearArrow">profile</a>








        <div style ="position: relative; left: 250px; top: 250px;">
            <%console.log(table)%>
        
            <p>
               Name: <input  type="text" name="name" value="<%= table[0][0].name %>">        
            </p>
            <p>
                Surname <input  type="text" name="surname" value="<%= table[0][0].surname %>">
            </p>
            <p>
                patronymic <input  type="text" name="patronymic" value="<%= table[0][0].patronymic %>"> 
            </p>

            <% let data = table[0][0].birthdate.split('.');  %> 
                            

            <p>
              birthdate  <input type="date" style = "width: 180px; "name="birthdate" value = "<%=`${data[2]}-${data[1]}-${data[0]}`%>">
            </p>
            <p>
                phone number <input type="phone" name="phone" value="<%= table[0][0].phone %>">
            </p>

            <p>
               email <input type="email" name="name" value="<%= table[0][0].email %>">
            </p>
            <p>
               login <input type="text" name="name" value="<%= table[0][0].login %>">
            </p>
            <p>
               role: <input disabled style ="color: black;"type="text" name="name" value="<%= table[0][0].roleId %>"> 
            </p>

            <% let edit = `/ProfileEdit?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`%> 

            <a >change password</a>

            <button type="submit" style = "color:black" onclick="window.location.href = '<%=edit%>' ">submit</button>
           
        </div>
           

        </div>
    
            
        
       

     
    </div>

</body>
</html>