<!DOCTYPE html>
<html>


<head>

    <link href=".\AdminViews\MovieAdmin\MovieAbout.css" rel="stylesheet" type="text/css">

</head>

<body id = "backForPage">

    <!-- <h1>WorkerS</h1> -->
    <% let data_ = `/MovieAdmin?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}`  %>

  

    <div class="PositionColor" style = "margin-top: 25px;">
        
        <a id = "arrow"  href="<%= data_ %>">
            <img src=".\regPage\arrow.png">
        </a>
        <a id = "nearArrow">about</a>

        <% let id =table[0][0].idMovie; let look = `/MovieEdit?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}` %> 
        <a id = "look" onclick="window.location.href = '<%= look %>'"> Look </a>

            <div class = "about">
                 

                    <%console.log(table)%>
                    
                    
                    <div id = "information">
                        <p>Title = <%= table[0][0].title %> </p>                
                  
                        <p>length <%= table[0][0].length  %> </p>
                  
                        <p>Genre   <%= table[0][0].genre  %> </p>

                        <p>date<%= table[0][0].release %> </p>


                        <% if(table[1][0] != undefined) { %>
                            <% let idScenario = table[1][0].idScenario; let read = `/ScenarioRead?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}&idScenario=${idScenario}` %> 
                            
                             <p>scenario <%= table[1][0].title%> <button style = "position: relative; top: -5px;" onclick  = "window.location.href='<%= read %>'">read</button></p>

                             <% let CheckWorkers = `/MovieWorkers?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}`%> 
                             <p>Workers <button  style = "position: relative; top: -5px;" onclick = "window.location.href='<%=CheckWorkers%>'">watch</button></p>
                             
                            
                             <% if(table[2][0] == undefined) { %>
                                <% let AddDirector = `/DirectorToMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}`%> 

                                 <p> director <button onclick = "window.location.href='<%=AddDirector%>'"> add </button> </p>
                             <%}  else { %>
                                <%let dir = table[2][0].IdWorker; let DeleteDirector = `/DeleteDirectorFromMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}&idWorker=${dir}`%> 

                               
                                 <p>Director <%=table[2][0].name%> <%= table[2][0].surname %> 
                                 <button onclick = "window.location.href='<%=DeleteDirector%>'" > delete </button></p>
                              <%} %>

                             
                        <% } else { %>
                            <% let AddScenario = `/ScenarioToMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}`%> 
                            <p>Scenario <button  style = "position: relative; top: -5px;" onclick = "window.location.href='<%=AddScenario%>'">add</button></p>

                            <% let CheckWorkers = `/MovieWorkers?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}`%> 
                            <p>Actors <button  style = "position: relative; top: -5px;" onclick = "window.location.href='<%=CheckWorkers%>'">watch</button></p>
                            
                            <% if(table[2][0] == undefined) { %>
                                <% let AddDirector = `/DirectorToMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}`%> 

                                 <p> director <button onclick = "window.location.href='<%=AddDirector%>'"> add </button> </p>
                             <%}  else { %>
                                <%let dir = table[2][0].IdWorker; let DeleteDirector = `/DeleteDirectorFromMovie?login=${session[0]}&password=${session[1]}&state=${session[2]}&roleId=${session[3]}&idMovie=${id}&idWorker=${dir}`%> 

                               
                                 <p>Director <%=table[2][0].name%> <%= table[2][0].surname %> 
                                 <button onclick = "window.location.href='<%=DeleteDirector%>'" > delete </button></p>
                              <%} %>
                            
                            
                       
                       
                       
                       <% } %> 
                   
                   

            

                   

            </div>    

 

            
        </div>
    
            
        
       

     
    </div>

</body>
</html>